* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  background: #1b1d21;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form-container {
  width: 100%;
  max-width: 420px;
  background: #1e293b;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.form-container h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  background: None;
  font-size: 2.5rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.input-group label {
  color: #cbd5e1;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 1px
}

.input-group input {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 1px solid #334155;
  border-radius: 10px;
  background: #0f172a;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input::placeholder {
  color: #64748b;
}

.input-group input:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}

button {
  margin-top: 0.5rem;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background: #dc2626;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #b91c1c;
}

p{
    margin-top: 10px;
}

p a:hover{
    color: blueviolet;
}